<%-include("../partials/userheader")-%>
<section class="pt-150 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
       
         
            <div
              class="login_wrap widget-taber-content p-30 background-white border-radius-5"
            >
              <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                  <h3 class="mb-30">Add Address</h3>
                </div>
               
                <form method="post" name="myform" action="/user_address" onsubmit="return validateForm()">
                  <div class="form-group">
                    <input
                      type="text"
                      id="username"
                      name="name"
                      placeholder="Username"
                    />
                    <span id="username-error" style="color: red;"></span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      id="city"
                      name="city"
                      placeholder="city"
                    />
                    <span id="city-error" style="color: red";></span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      id="state"
                      name="state"
                      placeholder="state"
                    />
                    <span id="state-error" style="color: red";></span>
                  </div>
                  <div>
                    <label class="form-label">Address</label>
                    <textarea placeholder="Type here" class="form-control" rows="4" name="address"></textarea>
                    <span id="textarea-error" style="color: red";></span>

                </div>
                <div class="form-group">
                    <input
                      type="text"
                      id="pincode"
                      name="pincode"
                      placeholder="pincode"
                    />
                    <span id="pincode-error" style="color: red";></span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      id="landmark"
                      name="landmark"
                      placeholder="landmark"
                    />
                    <span id="landmark-error" style="color: red";></span>
                  </div>
                  <div class="form-group">
                    <input
                    id="tel";
                      type="tel"
                      name="mobile" pattern="[0-9]{10}" 
                      placeholder="Enter your mobile number"
                    />
                    <span id="tel-error" style="color: red";></span>
                  </div>
                  <div class="form-group">
                    <input
                    id="alternate-tel";
                      type="tel"
                      name="alt_mobile" pattern="[0-9]{10}" 
                      placeholder="Enter your alternate mobile number"
                    />
                    <span id="alternatetel-error" style="color: red";></span>
                  </div>
                  <div class="mb-4">
                    <label class="form-label">select addrese type</label>
                    <select class="form-select" name="type">
                        <option value="billing address">billing address</option>
                        <option value="shipping address">shipping address</option>
                       
                        
                    </select>
                </div>
                
                
              
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-fill-out btn-block hover-up"
                      name="login"
                   
                    >
                      Submit &amp; Register
                    </button>
                  </div>
                </form>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
<script>
  function validateForm() {
    const username = document.getElementById('username').value;
    const city = document.getElementById('city').value;
    const state = document.getElementById('state').value;
    const address = document.getElementsByName('address')[0].value;
    const pincode = document.getElementById('pincode').value;
    const landmark = document.getElementById('landmark').value;
    const mobile = document.getElementById('tel').value;
    const altMobile = document.getElementById('alternate-tel').value;
    const type = document.getElementsByName('type')[0].value;

    // Reset error messages
    resetErrorMessages();

    let hasErrors = false;

    if (!username) {
      document.getElementById('username-error').innerText = 'Please enter your username';
      hasErrors = true;
    }

    if (!city) {
      document.getElementById('city-error').innerText = 'Please enter your city';
      hasErrors = true;
    }
    if (!state) {
      document.getElementById('state-error').innerText = 'Please enter your state';
      hasErrors = true;
    }
    if (!address) {
      document.getElementById('textarea-error').innerText = 'Please enter your address';
      hasErrors = true;
    }
    if (!pincode) {
      document.getElementById('pincode-error').innerText = 'Please enter your pincode';
      hasErrors = true;
    }
    if (!landmark) {
      document.getElementById('landmark-error').innerText = 'Please enter your landmark';
      hasErrors = true;
    }

    // ... Repeat similar checks for other fields ...

    if (!/^[0-9]{10}$/.test(mobile)) {
      document.getElementById('tel-error').innerText = 'Please enter a valid 10-digit mobile number';
      hasErrors = true;
    }

    if (!/^[0-9]{10}$/.test(altMobile)) {
      document.getElementById('alternatetel-error').innerText = 'Please enter a valid 10-digit alternate mobile number';
      hasErrors = true;
    }

    if (hasErrors) {
      return false;
    }

    // Additional validation can be added for pincode, etc.

    return true; // Submit the form if all validations pass
  }

  function resetErrorMessages() {
    const errorElements = document.querySelectorAll('[id$="-error"]');
    errorElements.forEach(element => {
      element.innerText = '';
    });
  }
</script>


<%-include("../partials/userfooter")-%>