<%-include("../partials/userheader")-%>
<section class="pt-150 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
       
         
            <div
              class="login_wrap widget-taber-content p-30 background-white border-radius-5"
            >
              <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                  <h3 class="mb-30">Add Address</h3>
                </div>
               
                <form  method="post" name="myform" action="/user_address" >
                  <div class="form-group">
                    <input
                      type="text"
                      id="username"
                      name="name"
                      placeholder="Username"
                    />
                    <span id="username-error" style="color: red;"></span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      id="city"
                      name="city"
                      placeholder="city"
                    />
                    <span id="city-error" style="color: red";></span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      id="state"
                      name="state"
                      placeholder="state"
                    />
                    <span id="state-error" style="color: red";></span>
                  </div>
                  <div>
                    <label class="form-label">Address</label>
                    <textarea placeholder="Type here" class="form-control" rows="4" name="address"></textarea>
                </div>
                <div class="form-group">
                    <input
                      type="text"
                      id="pincode"
                      name="pincode"
                      placeholder="pincode"
                    />
                    <span id="pincode-error" style="color: red";></span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      id="landmark"
                      name="landmark"
                      placeholder="landmark"
                    />
                    <span id="landmark-error" style="color: red";></span>
                  </div>
                  <div class="form-group">
                    <input
                    id="tel";
                      type="tel"
                      name="mobile" pattern="[0-9]{10}" 
                      placeholder="Enter your mobile number"
                    />
                    <span id="tel-error" style="color: red";></span>
                  </div>
                  <div class="form-group">
                    <input
                    id="alternate-tel";
                      type="tel"
                      name="alt_mobile" pattern="[0-9]{10}" 
                      placeholder="Enter your alternate mobile number"
                    />
                    <span id="alternatetel-error" style="color: red";></span>
                  </div>
                  <div class="mb-4">
                    <label class="form-label">select addrese type</label>
                    <select class="form-select" name="type">
                        <option value="billing address">billing address</option>
                        <option value="shipping address">shipping address</option>
                       
                        
                    </select>
                </div>
                
                
              
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-fill-out btn-block hover-up"
                      name="login"
                   
                    >
                      Submit &amp; Register
                    </button>
                  </div>
                </form>
                <!-- <div class="divider-text-center mt-15 mb-15">
                  <span> or</span>
                </div>
             -->
                <!-- <div class="text-muted text-center">
                  Already have an account? <a href="/login">Sign in now</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>





<%-include("../partials/userfooter")-%>