<%-include("../partials/userheader")-%>

<h3 class="mx-auto  d-flex justify-content-center p-30" >Change your password</h3>
<div class="col-lg-12 md-12 justify-content-center d-flex" >
    <div style="color: red;"><%=locals.message ? message:''%></div>
    <form class="contact-form-style mt-30 mb-50" action="/passwordchange" method="post" onsubmit="return validateForm()">
        <div class="input-style mb-20">
            <label>Your current password</label>
            <input type="password" name="currentpassword" id="currentpassword" placeholder="Enter your current password" class="square">
            <span id="error-currentpassword" style="color: red;"></span>
        </div>
        <div class="input-style mb-20">
            <label>Enter new password</label>
            <input type="password" name="newpassword" id="newpassword" placeholder="Enter new password" class="square">
            <span id="error-newpassword" style="color: red;"></span>
        </div>
        <div class="input-style mb-20">
            <label>Confirm password</label>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm your password" class="square">
            <span id="error-confirmpassword" style="color: red;"></span>
        </div>
        <button class="submit submit-auto-width" type="submit">Submit</button>
    </form>
</div>

<script>

function validateForm() {
        const currentPassword = document.getElementById('currentpassword').value;
        const newPassword = document.getElementById('newpassword').value;
        const confirmPassword = document.getElementById('confirmpassword').value;
        const errorcurrentpassword=document.getElementById("error-currentpassword");
        const errornewpassword=document.getElementById("error-newpassword");
        const errorconfirmpassword=document.getElementById("error-confirmpassword")

        // Check if current password is empty
        if (currentPassword === '') {
            errorcurrentpassword.innerHTML="please enter a current password"
            return false;
        }

        // Check if new password is empty
        if (newPassword === '') {
            errornewpassword.innerHTML="new password field cannot be empty"
            return false;
        }

        // Check if new password meets criteria (e.g., minimum length)
        if (newPassword.length < 8) {
            errornewpassword.innerHTML="password must have atleast 8 characters"
            return false;
        }

        // Check if confirm password matches new password
        if (confirmPassword !== newPassword) {
            errorconfirmpassword.innerHTML="password do not match"
            return false;
        }

        return true; // Submit the form if all validations pass
    }


</script>
