<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
<head>
    <meta charset="utf-8">
    <title>Rihannasrave eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/rihanna.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css">  
    
    
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <!-- <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container"> -->
                <!-- <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right"> -->
                            <!-- <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                <li><i class="fi-rs-user"></i><a href="/signup">Sign Up</a></li>
                            </ul> -->
                        <!-- </div>
                    </div>
                </div>
            </div>
        </div> -->
    <header class="header-area header-style-5">
       
        <div class="header-bottom sticky-bar sticky-white-bg" style="background-color: #dddbd3ea; padding: 40px;">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/imgs/theme/rihanna.png" style="max-width: 90px; max-height: 70px;" alt="logo"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a class="active" href="/userhome">Home </i></a>
                                    
                                </li>
                                <li><a href="/aboutpage">about</a>
                                   
                                </li>
                               
                                <li><a href="/useraccount">Account </a>
                                    <ul class="sub-menu">
                                        <!-- <li><a href="blog-category-grid.html">contact</a></li> -->
                                        <!-- <li><a href="/accountpage">My account</a></li>
                                        <li><a href="/login">login</a></li>
                                        <li><a href="/logout">logout</a></li> -->
                                      
                                    </ul>
                                </li>
                            </li>
                            <li><a href="/shop">Shop</a>
                               
                            </li>
                               
                               
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                      
                            <form action="/productsearch" method="post">
                                <input type="text" name="search" placeholder="search your product" style=" width: 500px;">
                               
                            </form>
                  
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/show_wishlist">
                                    <img class="svgInject" alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                    
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/show_cart">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                    
                                </a>
                               
                             
                              
                                        <div>
                                            <a href="/useraccount" style="margin-left: 20px;"><i class="fa-solid fa-user fa-xl"></i></i></a>
                                        </div>
                                        
                                       
                                       
                               
                               
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <!-- <form action="#"> -->
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    <!-- </form> -->
                </div>
                
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>

                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
      

<div style="text-align: center;">
<section class="pt-150 pb-150">
  <div class="container">
  
      <div class="col-lg-4 m-auto">
        <div class="row">
         
            <div
              class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5"
            >
              <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                  <h3 class="mb-30">Login</h3>
                 <!-- Add SweetAlert library and CSS to your HTML -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

<!-- Your existing HTML -->
<!-- <p id="para" style="color: red;"><%= locals.errordata ? errordata : '' %></p> -->

<% if (locals.errordata) { %>
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: '<%= locals.errordata %>',
    });
  </script>
<% } %>


                 
                </div>
              


            <form
  method="post"
  name="myform"
  action="/login"
  onsubmit="return validateform();"
>
  <div class="form-group">
    <input type="text" name="email" placeholder="Your Email"  />
    <span id="emailerror" style="color: red;"></span>
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="Password"  />
    <span id="passworderror" style="color: red;"></span>
  </div>
  <div class="login_footer form-group">
    <div class="chek-form">
      <div class="custome-checkbox">
        <input
          class="form-check-input"
          type="checkbox"
          name="checkbox"
          id="exampleCheckbox1"
          value=""
        />
        <label class="form-check-label" for="exampleCheckbox1"
          ><span>Remember me</span></label
        >
      </div>
    </div>
    <a class="text-muted" href="/forgotpassword">Forgot password?</a>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-fill-out btn-block hover-up"
      name="login"
    >
      Log in
    </button>
  </div>
  <h6>New User ? <a href="/signup">create an account</a></h6>
</form>
</div>
</div>
</div>
<div class="col-lg-1"></div>
</div>
<script>
  var newname = document.myform.email;
  const para=document.getElementById("para")
  newname.addEventListener("click",(e)=>{
    para.innerText=" ";
  })
  function validateform() {
    var name = document.myform.email.value;
    var password = document.myform.password.value;

    if (name == null || name == "") {
      document.getElementById("emailerror").innerText="Name can't be blank"
     
      return false;
    }else if (password.length < 6 ) {
      if(name !==null || password !==""){
      document.getElementById("emailerror").innerText="";
      
    }
      document.getElementById("passworderror").innerText="Password must be at least 6 characters long."
     
      return false;
    }

    // If the form passes validation, return true to allow submission
    return true;
  }
</script>

      
          
        </div>
      </div>
    </div>
  </div>
</section>
<%-include("../partials/userfooter")-%>