<%-include("../partials/userheader")-%>

   
<div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Order Placed Successfully</h5>
      <p class="card-text">Your order has been placed successfully. We will process it soon.</p>
    </div>
  </div>
  

